# Python
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Virtual Environment
venv/
.env
.env.*

# Django specific
/staticfiles/
media/

# VS Code / IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Database migrations (optional, if not versioning)
# migrations/

# Coverage reports
htmlcov/
coverage.xml


/logs/