.dashnav {
  position: sticky;
  justify-content: space-between;
  width: 85% !important;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 13%;
  margin-top: 3%;
  background-color: black;
  color: white;
  align-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 25px 25px 50px #bebebe, -25px -25px 50px #ffffff;
}

#logotxt {
  font-weight: bold;
  padding: 1%;
  margin: 10px;
}
.navitem {
  display: flex;
}
